[submodule "tools/Agentic-Bug-Hunter"]
  path = tools/Agentic-Bug-Hunter
  url = https://github.com/Awarexone/Agentic-Bug-Hunter.git
[submodule "tools/hawkeye"]
  path = tools/hawkeye
  url = https://github.com/Btr4k/bugbounty-agent.git
[submodule "tools/BBOT"]
	path = tools/BBOT
	url = https://github.com/blacklanternsecurity/bbot.git
