[submodule "tools/Agentic-Bug-Hunter"]
	path = tools/Agentic-Bug-Hunter
	url = https://github.com/Awarexone/Agentic-Bug-Hunter.git
[submodule "tools/Pentest-Agents"]
	path = tools/Pentest-Agents
	url = https://github.com/H-mmer/pentest-agents.git
[submodule "tools/BugTraceAI-CLI"]
	path = tools/BugTraceAI-CLI
	url = https://github.com/BugTraceAI/BugTraceAI-CLI.git
[submodule "tools/Strix"]
	path = tools/Strix
	url = https://github.com/usestrix/strix.git
[submodule "tools/AIPTX"]
	path = tools/AIPTX
	url = https://github.com/0x0x0x0x0x0x0x/aiptx.git
[submodule "tools/Riftor"]
	path = tools/Riftor
	url = https://github.com/revolt-rai/riftor.git
[submodule "tools/HexStrike-AI"]
	path = tools/HexStrike-AI
	url = https://github.com/morpheusc/Hexstrike-AI.git
[submodule "tools/BBOT"]
	path = tools/BBOT
	url = https://github.com/blacklanternsecurity/bbot.git
